@import "main";

#about{
	
	h2{
		font-weight: bold;
		text-align: center;
		color: #ff5c00;
	}
	h3{
		color: #ff5c00;
	}
	p{
		text-align: center;
	}
	span{
		font-size: 20px;
	}
	li{
		list-style: none;
	}
}